
<div layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="50">
        <md-card-title layout="row">
            <h2>Available Insurance</h2>
        </md-card-title>
        <md-card-content>
            <insurance-registered></insurance-registered>
        </md-card-content>
    </md-card>
    <md-card flex-xs flex-gt-xs="50">
        <md-card-title layout="row">
            <h2>Total Balances</h2>
        </md-card-title>
        <md-card-content>
            <retailer-total-balances></retailer-total-balances>
        </md-card-content>
    </md-card>
</div>
<retailer-balances layout-xs="column" layout="row"></retailer-balances>
