<md-content class="md-padding" layout="column">
    <div>
        <md-card>
            <md-card-title layout="row">
                <h2>User Info</h2>
            </md-card-title>
            <md-card-content>
                <hello></hello>
            </md-card-content>
        </md-card>
    </div>

    <div layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column"  permission
             permission-only="['RETAILER']">
            <md-card>
                <md-card-title layout="row">
                    <h2>Available Insurance</h2>
                </md-card-title>
                <md-card-content>
                    <insurance-registered></insurance-registered>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column"  permission
             permission-only="['RETAILER']">
            <md-card>
                <md-card-title layout="row">
                    <h2>Balances</h2>
                </md-card-title>
                <md-card-content>
                    <retailer-balances></retailer-balances>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column"  permission
             permission-only="['INSURANCE']">
            <md-card>
                <md-card-title layout="row">
                    <h2>Retailers List</h2>
                </md-card-title>
                <md-card-content>
                    <retailer-accepted></retailer-accepted>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ui-sref="app.retailer.confirmation">Manage Retailers</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column"  permission
             permission-only="['UNDEFINED']">
            <md-card>
                <md-card-title layout="row">
                    <h2>Are you a Ratailer?</h2>
                </md-card-title>
                <md-card-content>
                    <retailer-create></retailer-create>
                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column" permission
             permission-only="['UNDEFINED']">
            <md-card>
                <md-card-title layout="row">
                    <h2>Are you a Insurer?</h2>
                </md-card-title>
                <md-card-content>
                    <insurance-create></insurance-create>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>