<div flex-xs flex-gt-xs="50" layout="column"  permission
     permission-only="['INSURANCE']">
    <md-card>
        <md-card-title layout="row">
            <h2>Retailers List</h2>
        </md-card-title>
        <md-card-content>
            <retailer-accepted></retailer-accepted>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ui-sref="app.retailer.confirmation">Manage Retailers</md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>
