<div layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="50">
        <md-card-title layout="row">
            <h2>Available Insurance</h2>
        </md-card-title>
        <md-card-content>
            <insurance-registered></insurance-registered>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ui-sref="app.insurance.confirmation">Manage Insurances</md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>