<div layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50">
        <md-card>
            <md-card-title layout="row">
                <h2>Are you a Retailer?</h2>
            </md-card-title>
            <md-card-content>
                <retailer-create></retailer-create>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50">
        <md-card>
            <md-card-title layout="row">
                <h2>Are you a Insurer?</h2>
            </md-card-title>
            <md-card-content>
                <insurance-create></insurance-create>
            </md-card-content>
        </md-card>
    </div>
</div>