
<div layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50">
        <md-card>
            <md-card-title layout="row">
                <h2>Available Insurance</h2>
            </md-card-title>
            <md-card-content>
                <insurance-registered></insurance-registered>
            </md-card-content>
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="50">
        <md-card>
            <md-card-title>
                <h2>Total Balances</h2>
            </md-card-title>
            <md-card-content>
                <retailer-total-balances></retailer-total-balances>
            </md-card-content>
        </md-card>
    </div>
</div>
<retailer-balances layout-xs="column" layout="row" layout-align="center center"></retailer-balances>
