<md-input-container class="md-block" flex-gt-sm>
    <label>Status</label>
    <md-select name="status" ng-model="filterStatus">
        <md-option ng-repeat="status in statuses" value="{{status.value}}">
            {{status.name}}
        </md-option>
    </md-select>
</md-input-container>

<md-list>
    <md-list-item ng-repeat="retailer in retailers | filter: {status: filterStatus}">
        <p>{{ retailer.name }}</p>

        <md-button ng-if="showAcceptButton(retailer.status)" aria-label="Accept" class="md-secondary" ng-click="setRequestState(retailer.address, 1)">Accept</md-button>
        <md-button ng-if="showRejectButton(retailer.status)" aria-label="Reject" class="md-secondary" ng-click="setRequestState(retailer.address, 2)">Reject</md-button>
    </md-list-item>
</md-list>