<div>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" name="page1">Registration Request</md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" name="page2">Registration Confirmation</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>

<ui-view layout="column" layout-fill layout-padding>
    <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-content>
            {{title}}
        </md-card-content>
    </md-card>
</ui-view>