<form name="colorForm">
    <md-input-container>
        <label>Company Name</label>
        <input name="companyName" ng-model="companyName" required>
        <div ng-messages="colorForm.favoriteColor.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>InsuranceId</label>
        <md-select ng-model="selectedInsurance" required>
            <md-option ng-repeat="insurance in insurances" value="{{insurance.id}}">
                {{insurance.name}}
            </md-option>
        </md-select>
        <div ng-messages="colorForm.favoriteColor.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>
</form>