<form name="retailerCreate" ng-submit="sendRequest(company)">
    <md-input-container>
        <label>Company Name</label>
        <input name="companyName" ng-model="company.companyName" required>
        <div ng-messages="retailerCreate.companyName.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>InsuranceId</label>
        <md-select name="companyInsuranceId" ng-model="company.selectedInsurance" required>
            <md-option ng-repeat="insurance in company.insurances" value="{{insurance.address}}">
                {{insurance.name}}
            </md-option>
        </md-select>
        <div ng-messages="retailerCreate.companyInsuranceId.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
</form>