.header {
  &__brand {

  }
  &__brand-h1 {
    margin-right: 15px !important;
  }
  &__brand-logo {
    max-width: 200px;
    width: 100%;
  }
  &__brand-logo3 {
    max-width: 250px;
    width: 100%;
  }

  &__brand-logo2 {
    max-height: 150px;
    height: 100%;
  }

  &__brand-slogan {
    margin-bottom: 50px;
  }

}
