<!-- Container #2 -->

<div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
        <!-- Custom UsersList component -->
        <product-list
                users="app.users"
                selected="app.selected"
                on-selected="app.selectUser(user)">
        </product-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">

        <md-fab-toolbar md-direction="left">
            <md-fab-trigger  class="align-with-text">
                <md-button class="md-fab md-primary" aria-label="Add...">
                    <md-icon>
                        <i class="material-icons">&#xE3C7;</i>
                    </md-icon>
                </md-button>
            </md-fab-trigger>

            <md-toolbar class="md-toolbar-tools">
                <md-fab-actions>
                    <download-report-data/>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
        <!-- Custom ObjectDetails component -->
        <product-details
                selected="app.selected">
        </product-details>
    </md-content>

</div>