<div layout="column">
    <div layout-padding layout="column">
        <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
                <form name="warrantyForm" ng-submit="showList()">
                    <div layout-gt-sm="row" layout-padding>
                        <md-select placeholder="Select Retailer" ng-model="retailer">
                            <md-option ng-value="retailer" ng-repeat="retailer in retailers">{{retailer.name}}</md-option>
                        </md-select>
                        <md-select placeholder="Select Manufacturer" ng-model="manufacturer">
                            <md-option ng-value="manufacturer" ng-repeat="manufacturer in manufacturers">{{manufacturer.name}}</md-option>
                        </md-select>
                        <md-select placeholder="Select Product Type" ng-model="productType">
                            <md-option ng-value="productType" ng-repeat="productType in productTypes">{{productType.name}}</md-option>
                        </md-select>
                    </div>
                    <md-button type="submit">
                        Show List
                    </md-button>
                </form>
            </md-card-content>
        </md-card>
    </div>
    <ui-view layout="column" layout-padding></ui-view>
</div>
<warranty-search></warranty-search>
