<md-sidemenu locked="true">
    <md-sidemenu-group>
        <md-subheader class="md-no-sticky">Menu</md-subheader>
        <md-sidemenu-button
                ng-repeat="item in menu"
                ui-sref-active="md-active"
                ui-sref="{{item.link}}"
                ui-sref-opts="{reload: true}"
                permission
                permission-only="item.permissionRoles">
            {{item.title}}
        </md-sidemenu-button>
    </md-sidemenu-group>
    <md-sidemenu-group>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Settings</md-subheader>
    </md-sidemenu-group>
</md-sidemenu>